.interviewTimeSlotBookingWrapper .buttonBook:global(.ant-btn),
.interviewTimeSlotBookingWrapper .buttonBook:global(.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover) {
    height: 49px;
    background: var(--colorBgContainerDisabled, rgba(0, 0, 0, 0.07));
    box-shadow: 0px 3px 30px 1px rgba(170, 170, 170, 0.25);
    border-radius: 90px;
    line-height: 49px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    border: none;
}
.interviewTimeSlotBookingWrapper .buttonBook:global(.ant-btn.active),
.interviewTimeSlotBookingWrapper .buttonBook:global(.active.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover)  {
    background: #000000;
    box-shadow: 0px 3px 30px 1px #AAAAAA33;
    color: #ffffff;
}

.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper:not(:first-child)::before) {
    display: none;
}

/* time slot */
.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper) {
    height: 52px;
    line-height: 52px;
    border: 1px solid rgba(140, 140, 140, 1);
    border-radius: 8px;
    margin-top: 10px;
}
.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper:first-child){
    border-radius: 8px;
}

.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover),
.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active),
.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)),
.interviewTimeSlotBookingWrapper :global(.ant-radio-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child) {
    color: #000000;
    font-weight: 600;
    border: 2px solid var(--colorSapiaPink, #FFCEFF)
}

/* calendar */
.interviewTimeSlotBookingWrapper :global(.ant-picker-calendar .ant-picker-cell-disabled::before),
.interviewTimeSlotBookingWrapper :global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    display: none;
}
.interviewTimeSlotBookingWrapper :global(.ant-picker-calendar .ant-picker-cell .ant-picker-cell-inner) {
    border-radius: 100% !important;
}

/* today without time slot */
.interviewTimeSlotBookingWrapper :global(.ant-picker-calendar .ant-picker-cell.ant-picker-cell-today .ant-picker-cell-inner) {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5) !important;
    background: transparent;
    box-sizing: content-box;
}

/* selected status */
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner),
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner),
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner) {
    background: var(--colorSapiaPink, #FFCEFF);
    color: black ;
}

/* today with time slot */
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected.ant-picker-cell-today:not(.ant-picker-cell-disabled) .ant-picker-cell-inner),
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-today:not(.ant-picker-cell-disabled) .ant-picker-cell-inner),
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-today:not(.ant-picker-cell-disabled) .ant-picker-cell-inner) {
    border: 1px solid rgba(0, 0, 0, 0.88);
    color: rgba(0, 0, 0, 0.88);
    background: transparent;
    box-sizing: content-box;
}

/* on hover */
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner),
.interviewTimeSlotBookingWrapper .interviewTimeSlotBookingCalendar:global(.ant-picker-calendar .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end) .ant-picker-cell-inner) {
    background: var(--colorInfoBgHover, #92999C);
    color: #ffffff;
}